// colors
$defaultTextColor: #666666
$anchorColor: blue
$ffaGreen: green
$navigationBgColor: #456789
$navigationLinkColor: red
$drawerBgColor: rgba(10, 10, 10, 0.8)
$tagBgColor: #D8D8D8

$icon-width: 31px
$line-width: 3px
$icon-left-offset: 0px
$vertical-offset: 5px

$line-left-offset: calc(#{$icon-left-offset} + #{$icon-width}/2 - #{$line-width}/2)
$line-vertical-offset: calc(#{$icon-width} + #{$vertical-offset})
$line-length: calc(100% - #{$icon-width} - 2*#{$vertical-offset})

body
  color: $defaultTextColor
a
  color: $anchorColor

.is-hcentered
  justify-content: center

.is-vcentered
  align-items: center

.view
  margin-top: 80px
  margin-bottom: 80px

.hex-tag
  background-color: $tagBgColor
  border-radius: 4px
  display: inline-flex
  padding-left: 10px
  padding-right: 10px
  line-height: 1.5

$size-1: 3rem
$size-2: 2.5rem
$size-3: 2rem
$size-4: 1.5rem
$size-5: 1.25rem
$size-6: 1rem
$size-7: 0.75rem

