// bulma sass variable overrides
$input-background-color: #F7F7F7
$input-hover-color: rgba(0, 0, 0, 0)
$input-shadow: none
$input-focus-box-shadow-color: none
$input-focus-border-color: rgba(0, 0, 0, 0)

$button-padding-horizontal: 18px

// To override Bulma sass variables, they need
// to come before. To override Bulma classes,
// they need to come after import.
@import 'bulma/bulma.sass'

// colors
$defaultTextColor: #666666
$anchorColor: $defaultTextColor
$ffaGreen: green
$navigationBgColor: #ffffff
$navigationBorderColor: #d8d8d8
$navigationTextColor: #878787
$navigationLinkHoverColor: #131313
$drawerBgColor: #5D5D5D
$drawerTextColor: #EDEDED
$drawerHighlightColor: #FF0071
$drawerGrayedOutColor: #878787
$tagBgColor: #d8d8d8

$fileUploaderFilenameColor: #949494

$icon-width: 31px
$line-width: 3px
$icon-left-offset: 0px
$vertical-offset: 5px

$line-left-offset: calc(#{$icon-left-offset} + #{$icon-width}/2 - #{$line-width}/2)
$line-vertical-offset: calc(#{$icon-width} + #{$vertical-offset})
$line-length: calc(100% - #{$icon-width} - 2*#{$vertical-offset})

//fonts
// FIXME, make these files rather than inline data
// FIXME, add the license line so we're legal with these fonts
// fonts.css imported by App.vue
@mixin font-regular
  font-family: "HelveticaNowMicro-Regular"

@mixin font-bold
  font-family: "HelveticaNowMicro-Bold"

@mixin font-light
  font-family: "HelveticaNowMicro-Light"

// FIXME to a mixin to be consistent with Helvetica fonts
$neuemachina: "Neue Machina", 'sans-serif'

body
  @include font-regular
  color: $defaultTextColor
a
  color: $anchorColor
  text-decoration: underline
  &:hover
    transition: color 0.2s

.is-hcentered
  justify-content: center

.is-vcentered
  align-items: center

.view
  margin-top: 80px
  margin-bottom: 80px

.hex-tag
  background-color: $tagBgColor
  border-radius: 4px
  display: inline-flex
  padding-left: 10px
  padding-right: 10px
  line-height: 1.5

// customize with style not available in bulma sass variables
input[type="text"], .textarea
  font-size: inherit
  font-weight: $weight-medium
  border: solid 1px #F7F7F7
  &:hover
    border-color: #5D5D5D
    transition: border-color 0.2s
  &:focus
    color: #EDEDED
    background-color: #5D5D5D
    border-color: #5D5D5D
    transition: background-color 0.4s
  &:focus::placeholder
    color: #848484

.textarea
  resize: none
  overflow: hidden

.hidden
  display: none

// override bulma button class
.button
  font-family: $neuemachina

// override bulma tabs properties
.tabs
  margin-bottom: 16px






