@import '@/assets/style/ffa.sass'

.blockchain-executing-message
  display: flex
  flex-flow: row nowrap
  align-items: center
  .executing-message
    height: 40px
    line-height: 44px
    font-size: $size-5
    @include font-machina-medium
    padding-left: 11px
  .circle-background
    animation: animate-bg-color 2s
    -moz-animation: animate-bg-color 2s infinite
    -webkit-animation: animate-bg-color 2s infinite

    @-moz-keyframes animate-bg-color
      0%
        fill: $primary
      50%
        fill: $drawer-text-color
      100%
        fill: $primary

    @-webkit-keyframes animate-bg-color
      0%
        fill: $primary
      50%
        fill: $drawer-text-color
      100%
        fill: $primary
