@import '@/assets/style/ffa.sass'

.drawer
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  position: fixed
  background-color: $drawer-bg-color
  color: $drawer-text-color
  height: 0px
  width: calc(100% - 60px)
  border-radius: 5px 5px 0 0
  z-index: 99
  top: 100%
  left: 30px
  overflow: hidden
  transition-property: top, height
  transition: 0.4s
  
  .drawer-content
    text-align: left
    margin-left: 38px
    margin-top: 24px
    h1
      @include font-machina-medium
      color: $drawer-text-color
      font-size: $size-3
      padding-bottom: 15px
    h2
      font-size: $size-4
    p
      line-height: 1.25rem
    p.space-below
      padding-bottom: 10px
    .ethereum-step-dark
      background-image: url("../../image/icon/drawer/ethereum-dark.svg")
    .check-light-icon
      background-image: url("../../image/icon/drawer/check-light.svg")
      
  .delete
    margin-top: 24px
    margin-right: 38px

.drawer.open-create-candidate-1step
  height: 86px
  top: calc(100% - 86px)
  top: -webkit-calc(100% - 86px)
  top: -moz-calc(100% - 86px)
  bottom: 0

.drawer.open-create-candidate-3step
  height: 188px
  top: calc(100% - 188px)
  top: -webkit-calc(100% - 188px)
  top: -moz-calc(100% - 188px)
  bottom: 0

.drawer.open-start-challenge
  height: 325px
  top: calc(100% - 325px)
  top: -webkit-calc(100% - 325px)
  top: -moz-calc(100% - 325px)
  transition-property: top, height
  transition: .5s
  position: fixed
  bottom: 0

  .drawer.open200
    height: 200px
    top: calc(100% - 200px)
    top: -webkit-calc(100% - 200px)
    top: -moz-calc(100% - 200px)
    transition-property: top, height
    transition: .5s
    position: fixed
    bottom: 0

.drawer.open240
  height: 240px
  top: calc(100% - 240px)
  top: -webkit-calc(100% - 240px)
  top: -moz-calc(100% - 240px)
  transition-property: top, height
  transition: .5s
  position: fixed
  bottom: 0

.drawer.open300
  height: 300px
  top: calc(100% - 300px)
  top: -webkit-calc(100% - 300px)
  top: -moz-calc(100% - 300px)
  transition-property: top, height
  transition: .5s
  position: fixed
  bottom: 0
