@import '@/assets/style/ffa.sass'

.drawer-message-container
  display: flex
  flex-flow: column nowrap
  align-items: flex-start

  .drawer-message
    padding-left: 35px
    background-repeat: no-repeat
    background-position: left center

  .drawer-submessage
    line-height: 0px
    margin-top: 5px
    padding-left: 35px
    a
      font-size: $size-6
      color: $drawerTextColor
    
