@import '@/assets/style/ffa.sass'

.navbar
  height: 60px
  min-height: 60px // override bulma
  padding-left: 20px
  padding-right: 20px
  background-color: $navigationBgColor
  border-bottom: 1px solid $navigationBorderColor
  .navbar-menu
    font-size: $size-5
    a
      color: $navigationTextColor
      font-weight: $weight-bold
      &:hover
        color: $navigationLinkHoverColor
    .navbar-start
      margin-left: 80px
      align-items: center
    .navbar-item
      padding-right: 40px
    .name
      font-weight: $weight-medium
      padding-left: 10px
      color: $navigationTextColor
      