@import '@/assets/style/ffa.sass'

.navbar
  height: 80px
  padding-left: 1em
  padding-right: 1em
  background-color: $navigationBgColor
  .navbar-menu
    .navbar-start
      margin-left: 80px
      align-items: center
    .navbar-item
      a
        color: $navigationLinkColor