@import '@/assets/style/ffa.sass'

.file-uploader
  display: flex
  flex-flow: column nowrap
  .image
    width: 275px
    height: 275px
  .text
    font-size: $size-4
    padding-top: 26px
    .help
      font-size: $size-6
      padding-top: 10px
  .dz-preview
    display: none