@import '@/assets/style/ffa.sass'

.file-uploader
  width: 274px
  display: flex
  flex-flow: column nowrap
  cursor: pointer
  .image, .file-icon
    width: 274px
    height: 275px
    pointer-events: none
  .image.default
    background-image: url("../../image/icon/file/large/dropzone.svg")
  .image.hover
    background-image: url("../../image/icon/file/large/dropzone-hover.svg")
  .dz-preview
    display: none
  .default-text
    font-size: $size-4
    padding-top: 26px
  .small-text
    font-size: $size-6
    padding-top: 3px
    color: $fileUploaderFilenameColor
  .help
    font-size: $size-6
    padding-top: 10px
 