@import '@/assets/style/ffa.sass'

.file-metadata
  width: 400px
  display: flex
  flex-flow: column nowrap
  text-align: left

  .form-container
    width: 100%
    .title-field
      font-size: $size-4
    .description-field
      font-size: $size-6
      margin-top: 50px
      min-height: 100px

  .icon
    width: $file-metadata-icon-width
    height: $file-metadata-icon-height
    margin-right: 40px
    flex-shrink: 0

  .bullet-item
    text-align: left
    padding-left: 23px
    background-repeat: no-repeat
    background-position: left center

  .bullet-row
    display: flex
    flex-flow: row wrap
    margin-top: 20px

  .size
    background-image: url("../../image/icon/bullet/data-size.svg")
    margin-left: 50px
  .license
    background-image: url("../../image/icon/bullet/license.svg")
  .price
    background-image: url("../../image/icon/bullet/pricetag.svg")


