@import '@/assets/style/ffa.sass'

.file-uploader
  display: flex
  flex-flow: column nowrap
  .image
    width: 274px
    height: 275px
  .dz-preview
    display: none
  .default
    background-image: url("../../image/icon/file/large/file-upload-dropzone.svg")
  .hover
    background-image: url("../../image/icon/file/large/file-upload-dropzone-hover.svg")
  .text
    font-size: $size-4
    padding-top: 26px
    .help
      font-size: $size-6
      padding-top: 10px
 