button
  -webkit-appearance: none
  -moz-appearance: none
  border: none

.table
  margin: 10em auto
  justify-content: center 

.listing-header
  border-bottom: 1px solid #ccc
  .column
    font-weight: 700
    font-size: 16px

.columns-container
  margin-top: 10em

.ffa-listing:nth-child(even)
  background: #eee

.listing-property
  font-size: 15px

.tabs-container
  display: flex
  flex-direction: row
  justify-content: center

.tab-button
  display: flex
  align-items: flexstart

.active
  color: #456789
  border-bottom: 3px solid

.tab-button
  appearance: none
  cursor: pointer
  font-size: 13px
  margin: 0 12px
  padding-bottom: 13px
  font-weight: 700
