@import '@/assets/style/ffa.sass'

#new-listing-process-presentation
  display: flex
  flex-flow: column nowrap
  align-items: flex-start
  margin-right: auto
  margin-left: 34px
  margin-top: 24px

  font-size: $size-6
  color: $drawerTextColor
  font-weight: $weight-normal

  .list-button
    float: left
    margin-top: 10px
  .upload-executing
    margin-top: 10px
  .upload-complete
    margin-top: 16px
  .datatrust-step
    margin-top: 16px
  .ethereum-step
    background-image: url("../../image/icon/drawer/ethereum-step.svg")
  .check-light-icon
    background-image: url("../../image/icon/drawer/check-light.svg")
  .voting-light-icon
    background-image: url("../../image/icon/drawer/voting-light.svg")
  .voting-dark-icon
    background-image: url("../../image/icon/drawer/voting-dark.svg")
    color: $drawerGrayedOutColor

