.vsubway-wrapper
  display: flex
  flex-direction: column
  align-items: center

.message
  width: 100%

.candidate-view-title
  font-weight: 700
  font-size: 36px
  padding-bottom: 25px

.candidate-view-tabs
  justify-content: flex-start

.voting-info-wrapper
  width: 100%