@import '@/assets/style/ffa.sass'

.vsubway-wrapper
  display: flex
  flex-direction: column
  align-items: center

.message
  width: 100%

.candidate-view-title
  font-family: $neuemachina
  font-size: $size-2
  text-align: left
  padding-bottom: 12px

.candidate-view-tabs
  justify-content: flex-start

.voting-info-wrapper
  width: 600px

.voting-button-container
  display: flex
  justify-content: flex-start
  margin-bottom: 10px
  color: white
  font-weight: 500

.voting-interface-wrapper
  margin: 10px
  width: 300px
  span
    margin: auto 0
    margin-left: 10px

.voting-interface-button
  margin-left: 15px
  border-radius: 25px
  padding: 0 25px

.comment-box
  width: 100%
  height: 50px
  resize: vertical
  min-height: 30px
  border-radius: 4px
  border-color: #dbdbdb

.voting-icon
  color: #ffffff

.voting-drawer-container
  display: flex
  align-items: center
  margin-left: 30px
  height: 100%

.voting-drawer-wrapper
  width: 100%

.drawer-exit-icon
  color: white
  cursor: pointer
  position: absolute
  right: 15px
  top: 15px 

.banner
  @include font-bold
  text-align: left
  padding-left: 35px
  margin-bottom: 55px
  background-repeat: no-repeat
  background-position: left center

.voting-dark-icon
  background-image: url("../../image/icon/bullet/voting.svg")