@import '@/assets/style/ffa.sass'

.voting-details
  margin-left: -30px
  background: $white-softer
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15)
  width: 610px
  border-radius: 5px
  .content
    display: flex
    flex-flow: column nowrap
    align-items: flex-start
    border-top: 1px solid #bbb
    padding-left: 30px
    padding-top: 18px
    padding-bottom: 30px
  .market-info
    padding-top: 40px
    display: flex
    flex-flow: column nowrap
    align-items: flex-start
    .percentage-required
      margin-bottom: 20px
  .voting-button
    padding-top: 30px
    display: flex
    flex-flow: column nowrap
    align-items: flex-start
    .votes-possible
      margin-top: 5px
  header
    background-repeat: no-repeat
    background-position: left center
    background-image: url("../../image/icon/bullet/exclamation.svg")
    display: flex
    align-items: center
    margin-left: 30px
    padding-left: 32px
    height: 50px
 
