@import '@/assets/style/ffa.sass'

#create-new-listing
  .new-listing-container
    display: flex
    flex-flow: row wrap
    justify-content: center

    .file-uploader
    .file-metadata
      background-color: #ffffdd
