@import '@/assets/style/ffa.sass'

.candidate-listed-view-common
  margin-bottom: 50px
  .container
    display: flex
    flex-flow: column nowrap
    align-items: flex-start

  .title-fancy
    text-align: left
    padding-bottom: 12px

  .challenge-button
    margin-top: 50px

  .challenge-icon
    background-image: url("../../image/icon/bullet/hand.svg")

  .purchase-button, .download-button
    margin-left: $file-metadata-icon-width + $file-metadata-icon-padding

  
