@import '@/assets/style/ffa.sass'

.candidate-listed-view-common
  .container
    display: flex
    flex-flow: column nowrap
    align-items: flex-start

  .title-fancy
    text-align: left
    padding-bottom: 12px

  .challenge-button
    margin-top: 50px

  .challenge-icon
    // TODO: copy over icon and update the bgimage path
    background-image: url("../../image/icon/drawer/voting-dark.svg")
    color: $drawer-grayed-out-color