@import '@/assets/style/ffa.sass'

#support
  .support-view
    display: flex
    flex-flow: row wrap
    align-items: flex-start
    height: 100vh

    .left-bar
      background-color: $soft-white
      @include shadow
      height: 100%
      max-width: 375px
      padding-left: 38px // same as drawer items

    .market-token-chart-container
      flex-grow: 1
      height: 100%




